.SkillsAnimated {
  background-color: var(--bg-secondary);
  overflow: hidden;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 100%;
  position: relative;

}

.skill-container {

  width: 100%;
  position: relative;
}

.drop {
  position: relative;
  width: 20px;
  height: 20px;
  top: -30px;
  margin: 0 auto;
  background: var(--text-secondary);
  border-radius: 20px;
  animation-name: drip;
  animation-timing-function: cubic-bezier(1, 0, .91, .19);
  animation-duration: 500ms;
  animation-iteration-count: initial;
}

.drop:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 30px solid var(--text-secondary);
  top: -22px;
}

.wave {
  position: relative;

  margin: 0 auto;
  top: 20%;
  opacity: 0;
  align-self: center;
  width: 60px;
  height: 60px;
  border: var(--text-secondary) 7px solid;
  border-radius: 100%;
  animation-name: ripple;
  animation-delay: 500ms;
  animation-duration: 500ms;
  animation-iteration-count: initial;
}



@keyframes ripple {
  from {
    opacity: 1;
  }

  to {
    width: 50px;
    height: 50px;
    border-width: 1px;
    opacity: 0;
  }
}


@keyframes drip {
  to {
    top: 40%;
  }
}


.icon-skill {

  opacity: 0;
  position: absolute;
  top: 0;
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  background-color: var(--transparent-600);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-in 0.3s ease forwards;
  animation-delay: 1000ms;
}

.wave-container {
  position: relative;
  top: 20%;
  margin: 0 auto;


}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}